.hidden {
    display: none;
}

body {
    background-color: #e4f9ff;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-top: 40%;
    margin-bottom: -20px;
}

#start-btn {
    background-color: #baf0ff;
    color: #1a6c83;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-btn:hover {
    background-color: #a9ddec;
}

#Score {
    position: fixed;
    bottom: 5px;
    left: 10px;
}

#answer {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px ;
    font-size: 15px;
    background-color: #d0edec;
}

#submit-btn {
    background-color: #baffe8;
    color: #1a8350;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #b0efda;
}

#next-btn {
    background-color: #baffe8;
    color: #1a8350;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#next-btn:hover {
    background-color: #b0efda;
}